/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/work/
/vendor
.idea/
.env
.env.backup
.env.testing
.phpunit.result.cache
.php-cs-fixer.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/uploads
.php_cs.cache
cghooks.lock
*.DS_Store
*.log
/bin/phantomjs_mac
/app/Console/Commands/Generate/